{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/password_reset.css" %}">
    <link rel="icon" href="{% static 'icons/keys.png' %}">
    <meta name="viewport" content="width=device-width; initial-scale=1">

    {# Poppins #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    {# noto sans #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">


    {# russo one #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="limiter">
    <div class="login_container">
        <div class="login_wrapper">
        <span class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/footer_logo.svg' %}" alt="">
            </a>
        </span>
            <p class="password_reset_instruction">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в
                нашей базе данных такой есть). Вы должны получить ее в ближайшее время.
            </p>
            <br>
            <p class="password_reset_warning">
                Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым вы зарегистрировались, и проверьте папку со спамом.
            </p>


        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>