{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/password_reset.css" %}">
    <link rel="icon" href="{% static 'icons/keys.png' %}">
    <meta name="viewport" content="width=device-width; initial-scale=1">

    {# Poppins #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    {# noto sans #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet">


    {# russo one #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="limiter">
    <div class="login_container">
        <div class="login_wrapper">
        <span class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/footer_logo.svg' %}" alt="logo.png не загрузилось">
            </a>
        </span>
            <form action="" class="login__form" method="POST" id='login_form'>
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% if form.error_messages %}
                    <p>{{ form.error_messages }}</p>
                {% endif %}

                <p class="password_reset_instruction">
                    Введите ваш Email-адрес, чтобы получить инструкцию по сбросу пароля
                </p>

                <div class="form_field_container" id="login_form__username" style="margin-bottom: 22px">
                    {{ form.email }}
                    {{ form.email.error_messages }}
                </div>

                <div class="enter_btn_wrapper" id="login_form__enter_btn">
                    <input type="submit" value="Отправить" class="enter_btn">
                </div>
            </form>
            <div class="not_registered_yet">
                <a href="{% url 'login' %}" class="not_registered_btn">Уже зарегистрированы?</a>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>
