{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/errors_modal_style.css" %}">
    <link rel="icon" href="{% static 'icons/keys.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#sofia_sans#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap" rel="stylesheet">

    {#нормальный лобстер, для текста на главной странице#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">

    {#Noto Sans Japanese#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    {#Righteous#}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>

<div class="main_page_background">
    <div class="header__container">
        <a href="{% url "home" %}" class="header__logo"></a>
        <h1 class="header__slogan">
            пора умнеть!
        </h1>
        <span style="font-size: 28px">
            {% if user %}
                {{ user }}
            {% endif %}
        </span>

        <a href="" class="header__test_btn">
            <span class="header__test_btn__label">Тесты</span>

        </a>
        <span class="header__profile_btn">
            {% if profile_img %}
                <img src="{% static 'images/test_avatar.jpg' %}" alt="" class="profile_btn_img">
            {% else %}
                <img src="{% static 'images/profile_icon.svg' %}" alt="" class="profile_btn_ico">
            {% endif %}
        </span>
    </div>
    <div class="main_container">
        <h1 class="main_page__text1">Приходи и соревнуйся с друзьями!</h1>
        <div class="main_page__img_wrapper"><img class="main-page__metr-img" src="{% static 'images/metr.png' %}" alt=""></div>
        <q class="main_page__text2">Будь самым быстрым, кчаууу</q>
    </div>
</div>
<div class="second_block__bg">
    <div class="main_container second_block">

        <div class="second_block__large_selection">
            <img class="large_selection__menu_ico" src="{% static 'images/menu_icon.svg' %}" alt="">
            <div class="second_page__text_wrapper">
                <h1 class="large_selection__title">Большой выбор готовых тестирований</h1>
                <h5 class="large_selection__desc">и их количество постоянно растет</h5>
            </div>
        </div>

        <div class="second_block__scoring_points" id="scoring_points_wrapper">
            <img src="{% static 'images/calculator 1.svg' %}" alt="" class="second_block__scoring_points__ico">
            <div class="second_page__text_wrapper">
                <h1 class="scoring_points__title">Мгновенный подсчет баллов</h1>
                <h5 class="scoring_points__desc">не нужно ждать проверки модератором</h5>
            </div>
        </div>
    </div>
    <div class="second_block__footer_wave">

    </div>
</div>

<div class="modal_background">
    <div class="modal_rectangle">
        <div class="modal_button_wrapper modal_btn_1">
            <a href="{% url 'login' %}">Войти</a>
        </div>
        <div class="modal_button_wrapper modal_btn_2">
            <a href="{% url 'sign_up' %}">Регистрация</a>
        </div>
    </div>
</div>
<div class="statuscode_error_modal">
    <span class="statuscode_error_modal_text">Ошибка, попробуйте позже, код</span>
    <img src="{% static 'images/profile_settings/cross_icon.svg' %}" alt="">
</div>

<div class="text_errors_modal">
    <span class="text_error_label"></span>
    <img src="{% static 'images/profile_settings/cross_icon.svg' %}" alt="">
</div>

<footer>
    <div class="main_container footer_container">
        <ul class="footer__buttons">
            <li><a class="footer__button" href="">Техподдержка</a></li>
            <li><a class="footer__button" href="">Пользовательское соглашение</a></li>
            <li><a class="footer__button" href="">Обработка персональных данных</a></li>
        </ul>
        <p class="footer__description">Данный сайт позволяет проверить себя в решении задач и примеров на скорость, а чтобы было интереснее - зови
            друзей!</p>

    </div>
    <div class="footer_logo_year">
        <img src="{% static 'images/base/logo_color_footer.svg' %}" alt="">
        <span>2023-2023</span>
    </div>

</footer>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
        crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/home.js' %}" ></script>
<script src="{% static 'js/authorization_dialog.js' %}"></script>

</body>
</html>