.password_reset_instruction{
    font-family: 'Noto Sans Javanese', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 50px;
}
.password_reset_input{
    background-image: url("../icons/reset_password_email.png");
    background-position-y: center;
    background-position-x: 10px;
    background-repeat: no-repeat;
    background-size: 35px;
}
.password_reset_warning{
    font-family: 'Noto Sans Javanese', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #cf1515;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 50px;
}

@media (max-width: 530px) {
    .password_reset_instruction{
        text-align: center;
    }
}